<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head')%>


<body>
    <%-include ('../partials/header')%>
    <main>
        <div id="carrito-contenedor">
            <div id="carrito-contenedor1">
            <article class="minitura-imagen-pelicula">
                <img src="\Images\<%=movie.image%>" width="200" height="300" alt="pelicula-1">
            </article>
            </div>
            <div id="carrito-contenedor2">
            <article style="color:white">
                <p id="carrito-detalle"><%=movie.title%></p>
                <p id="carrito-detalle"><%=movie.origin.name%></p>
                <p id="carrito-detalle"> <%=movie.genre.name%></p>
                <p id="carrito-detalle"><%=movie.calification.name%></p>
                <p id="carrito-detalle"> <%=movie.length%></p>
            </article>
            </div>

        </div>
        
       

        <div id="centrar">
        <select name="complejo"  id="carrito-opciones">
            <option value="" selected>ELIJA EL COMPLEJO</option>
            <option value="">COSTA SALGUERO</option>
            <option value="">DOT BAIRES SHOPPING</option>
            <option value="">UNICENTER</option>
            <option value="">AV. CORRIENTES</option>
        </select>
        </div>
        <div id="centrar">
            <select name="horario"  id="carrito-opciones">
                <option value="" selected>ELIJA EL DIA</option>
                <option value="">Jueves 25 de Noviembre</option>
                <option value="">Viernes 26 de Noviembre</option>
                <option value="">Sabado 27 de Noviembre</option>
                <option value="">Domingo 28 de Noviembre</option>
            </select>
            </div>
        <div id="centrar">
            <select name="horario"  id="carrito-opciones">
                <option value="" selected>ELIJA EL HORARIO</option>
                <option value="">16:30 hs</option>
                <option value="">19:05 hs</option>
                <option value="">21:50 hs</option>
                <option value="">23:55 hs</option>
            </select>
            </div>
            <div id="centrar">
                <select name="cantidad"  id="carrito-opciones">
                    <option value="" selected>ELIJA LA CANTIDAD DE ENTRADAS</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                    <option value="">6</option>
                </select>
                </div>
                <div id="centrar" >
                    <button type="button" id="margin" id="botones3" >Ir a pagar</button>
                    <button id="botones2" type="submit"><a id="cancelar" href="http://localhost:3031/">Cancelar</a></button>
                </div>
            

            
      

    </main>
    <%- include ('../partials/footer')%>
</body>

</html>