<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head')%>




<body class="body3">
    <span class="header-registro"><%-include ('../partials/header')%></span>
    
    <div>
        <a href="http://localhost:3031/"><img id="logo-registro" src="\Images\logo-1.png" alt=""></a>

    </div>
    <form action="/productos" method="POST" id=form-registro enctype="multipart/form-data">
        <div class="form">

            <h1>CREAR PRODUCTO</h1>
            <% if (locals.errors) { 
                errors.forEach(error => { %> 
                    <p id="error"><%=error.msg%></p>
                    <%})}%>
            <div class="grupo">
                <input type="text" name="name" id="name" value="<%= locals.old && old.name ? old.name : null %>" required><span class="barra"></span>
                <label for="">Nombre película</label>
            </div>
            <div class="grupo">
                <input type="file" name="imagen" id="name"  required><span class="barra"></span>
                <label for="" id="imagen1">Imagen película</label>
            </div>
            <div class="grupo">
                <!-- <input type="text" name="origen" id="name"  required><span class="barra"></span> -->
                <label for="">Origen</label>
                <p>
                    <select name="origin" id="" required>
                        <option value="" disabled selected>- Seleccione el origen - </option>
                        <% allOrigins.forEach(origin => { %>
                        <option value="<%= origin.id %>"><%= origin.name %></option>
                        <% }); %>
                    </select>
                </p>
            </div>
            <div class="grupo">
                <!-- <input type="text" name="genero" id="name"  required><span class="barra"></span> -->
                <label for="">Genero</label>
                <p>
                    <select name="genero" id="" required>
                        <option value="" disabled selected>- Seleccione el género - </option>
                        <% allGenres.forEach(genre => { %>
                        <option value="<%= genre.id %>"><%= genre.name %></option>
                        <% }); %>
                    </select>
                </p>
            </div>
            <div class="grupo">
                <!-- <input type="text" name="director" id="name"  required><span class="barra"></span> -->
                <label for="">Director</label>
                <p>
                    <select name="director[]" id="" required>
                        <option value="" disabled selected>- Seleccione el director - </option>
                        <% allDirectors.forEach(director => { %>
                        <option value="<%= director.id %>"><%= director.first_name %> <%= director.last_name %></option>
                        <% }); %>
                    </select>
                </p>
            </div>
            <div class="grupo">
                <!-- <input type="text" name="actores" id="name" required><span class="barra"></span> -->
                <label for="">Actores</label>
                <p>
                    <select name="actor[]" size="3" check id="" multiple required>
                        <option value="" disabled selected>- Seleccione el actor - </option>
                        <% allActors.forEach(actor => { %>
                        <option value="<%= actor.id %>"><%= actor.first_name %> <%= actor.last_name %></option>
                        <% }); %>
                    </select>
                </p>
            </div>
            <div class="grupo">
                <!-- <input type="text" name="calificacion" id="name"  required><span class="barra"></span> -->
                <label for="">Calificación</label>
                <p>
                    <select name="calification" id="" required>
                        <option value="" disabled selected>- Seleccione la calificacion - </option>
                        <% allCalifications.forEach(calification => { %>
                        <option value="<%= calification.id %>"><%= calification.name %></option>
                        <% }); %>
                    </select>
                </p>
            </div>
            <div class="grupo">
                <input type="text" name="length" id="name" value="<%= locals.old && old.length ? old.length : null %>" required><span class="barra"></span>
                <label for="">Duración</label>
            </div>
            <div class="grupo">
                <input type="text" name="rating" id="name" value="<%= locals.old && old.rating ? old.rating : null %>" required><span class="barra"></span>
                <label for="">Rating</label>
            </div>
            <div class="grupo">
                <input type="text" name="synopsis" id="name" value="<%= locals.old && old.synopsis ? old.synopsis : null %>" required><span class="barra"></span>
                <label for="">Sinopsis</label>
            </div>
            <button class="button2" type="submit">Crear</button>
            <button class="button2" type="submit"><a id="cancelar" href="http://localhost:3031/productos">Cancelar</a></button>

        </div>


    </form>
    <span class="footer-registro"><%-include ('../partials/footer')%></span>
</body>

</html>