<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head')%>




<body class="body3">
    <span class="header-registro"><%-include ('../partials/header')%></span>
    
    <div>
        <a href="http://localhost:3031/"><img id="logo-registro" src="\Images\logo-1.png" alt=""></a>

    </div>
    <form action="/productos/editar/<%= movie.id %>?_method=PUT" id="form-registro" method="POST"  enctype="multipart/form-data" >
        <div class="form">

            <h1>EDITAR PRODUCTO</h1>
            <div class="grupo">
                <input type="text" name="name" id="name" value="<%= movie.title%>" ><span class="barra"></span>
                <label for="">Nombre película</label>
            </div>
            <div class="grupo">
                <input type="file" name="imagen" id="name" ><span class="barra"></span>
                <label for="" id="imagen1">Imagen película</label>
            </div>
            <div class="grupo">
                <!-- <input type="text" name="origen" id="name" value="<%= movie.origin.name%>"><span class="barra"></span> -->
                <label for="">Origen</label>
                <p>
                    <select name="origin" id="" required>
                        <% origins.forEach(origin => { %>
                        <option value="<%= origin.id %>" <% if (movie.origin.id == origin.id) { %> <%= 'selected' %><% }; %>><%= origin.name %></option>
                        <% }); %>
                    </select>
                </p>
                
            </div>
            <div class="grupo">
                <!-- <input type="text" name="genero" id="name" value="<%= movie.genre.name%>"><span class="barra"></span> -->
                <label for="">Género</label>
                <p>
                    <select name="genre" id="" required>
                        <% genres.forEach(genre => { %>
                        <option value="<%= genre.id %>" <% if (movie.genre.id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                        <% }); %>
                    </select>
                </p>
            </div>
            <div class="grupo">
                <input type="text" name="director" id="name" value="<%=movie.director%>"><span class="barra"></span>
                <label for="">Director</label>
            </div>
            <div class="grupo">
                <input type="text" name="actors" id="name" value="<%=movie.actor%>"><span class="barra"></span>
                <label for="">Actores</label>
            </div>
            <div class="grupo">
                <!-- <input type="text" name="calificacion" id="name" value="<%= movie.calification.name%>" ><span class="barra"></span> -->
                <label for="">Calificación</label>
                <p>
                    <select name="calification" id="" >
                        <% califications.forEach(calification => { %>
                        <option value="<%= calification.id %>" <% if (movie.calification.id == calification.id) { %><%= 'selected' %><% }; %>><%= calification.name %></option>
                        <% }); %>
                    </select>
                </p>
            </div>
            <div class="grupo">
                <input type="text" name="length" id="name" value="<%= movie.length%>" ><span class="barra"></span>
                <label for="">Duración</label>
            </div>
            <div class="grupo">
                <input type="text" name="synopsis" id="name" id="fecha" value="<%= movie.synopsis%>"><span class="barra"></span>
                <label for="">Sinopsis</label>
            </div>
            <button class="button2" type="submit">Editar</button>

        </div>


    </form>
    <span class="footer-registro"><%-include ('../partials/footer')%></span>
</body>

</html>