<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head')%>


<body>
    <%-include ('../partials/header')%>

    <!-- listar los productos -->
    <div class="main-home">
    <% products.forEach(function(product){%>

        <article>
            <a href="http://localhost:3031/productos/<%=product.id%>"><img class="peliculas" src="\Images\<%= product.imagen%>" class = "peliculas" alt=""></a>
            <h3>ESTRENO</h3>
            <h4>A PUERTAS CERRADAS</h4>
        </article>

        <%})%>

    </div>
        <%- include ('../partials/footer')%>

