<!DOCTYPE html>
<html lang="en">

<%-include ('./partials/head')%>

<body>

    <%- include ('./partials/header')%>
    <main>
        <p id="titulo">PELICULAS</p>
        <div class="main-home">
        <% movies.forEach(function(movies){%>

            <article>
                <a href="http://localhost:3031/productos/<%=movies.id%>"><img class="peliculas" src="\Images\<%= movies.image%>" class = "peliculas" alt=""></a>
                <h3>ESTRENO</h3>
                <h4>A PUERTAS CERRADAS</h4>
            </article>
    
            <%})%>
        </div>

        <!-- <div class="contenedor1">
            <div class="contenedor2">
                <article>
                    <img class="peliculas" src="\Images\pelicula-1.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
                <article>
                    <img class="peliculas" src="\Images\pelicula-2.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
            </div>
            <div class="contenedor3">
                <article>
                    <img class="peliculas" src="\Images\pelicula-3.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
                <article>
                    <img class="peliculas" src="\Images\pelicula-4.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
            </div>
            <div class="contenedor4">
                <article>
                    <img class="peliculas" src="\Images\pelicula-5.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
                <article>
                    <img class="peliculas" src="\Images\pelicula-6.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
            </div>
            <div class="contenedor5">
                <article>
                    <img class="peliculas" src="\Images\pelicula-7.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
                <article>
                    <img class="peliculas" src="\Images\pelicula-8.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
            </div>
            <div class="contenedor6">
                <article>
                    <img class="peliculas" src="\Images\pelicula-9.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
                <article>
                    <img class="peliculas" src="\Images\pelicula-10.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
            </div>
            <div class="contenedor7">
                <article>
                    <img class="peliculas" src="\Images\pelicula-11.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
                <article>
                    <img class="peliculas" src="\Images\pelicula-12.jpg" alt="">
                    <h3>ESTRENO</h3>
                    <h4>A PUERTAS CERRADAS</h4>
                </article>
            </div>
        </div> -->
    </main>
    <%- include ('./partials/footer')%>
   
</body>

</html>