<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head')%>


<body class="body2">
    <span class="header-registro"><%-include ('../partials/header')%></span>
    <div>
        <a href="http://localhost:3031/"><img id="logo-registro" src="\Images\logo-1.png" alt=""></a>

    </div>
    <form action="/usuarios/login" method="POST" id="form-login" enctype="multipart/form-data">
        <div class="form">

            <h1>INGRESAR</h1>

            <% if (locals.errors) { 
                errors.forEach(error => { %> 
                    <p id="error"><%=error.msg%></p>
                    <%})}%>
            <div class="grupo">
                <input type="text" name="email" id="name" value="<%= locals.old && old.email ? old.email : null %>"><span class="barra"></span>
                <label for="">Email</label>
            </div>

            <div class="grupo">
                <input type="Password" name="password" id="name" value="<%= locals.old && old.password ? old.password : null %>"><span class="barra"></span>
                <label for="">Contraseña</label>
            </div>
           
            <div class= botones>
                <button class="button2" type="submit">Ingresar</button>
               <button class="button2" type="submit" >Cancelar</button>
                </div>   
        </div>

    </form>

    <span class="footer-registro"><%-include ('../partials/footer')%></span>
    

</body>


</html>