<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head')%>


<body>
    <%-include ('../partials/header')%>

    <!-- listar los productos -->
    <div class="main-home1"  >
    
        
        <article >
            
            <h5 id="h5"><%=user.first_name%> <%=user.last_name%></h5>
            <h5 id="h5"><%=user.email%> </h5>
            <h5 id="h5"><%=user.birth%> </h5>
            <h5 id="h5"><%=user.category_id.name%></h5>
            
            <p id="h5"><img id="avatar"  src="\Images\Users\<%=user.image%>"  alt=""></p>
            

            <div  id="h5" >
            <form action="/usuarios/editar/<%=user.id%>" method="GET" id="h5">
            <button  id="botones1" type="submit" >Editar</button>
            </form>
            <form action="/usuarios/eliminar/<%=user.id%>?_method=DELETE" method="POST" id="h5">
            <button  type="submit" id="botones1" >Eliminar</button>
            </form>
            </div>

        </article>
        
        
            

    </div>
        <%- include ('../partials/footer')%>

