<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head')%>




<body class="body2">
    <span class="header-registro"><%-include ('../partials/header')%></span>
    
    <div>
        <a href="http://localhost:3031/"><img id="logo-registro" src="\Images\logo-1.png" alt=""></a>

    </div>
    <form action="/usuarios/registrar" method="POST" id="form-registro" enctype="multipart/form-data">
        <div class="form">

            <h1>REGISTRO</h1>
            <% if (locals.errors) { 
                errors.forEach(error => { %> 
                    <p id="error"><%=error.msg%></p>
                    <%})}%>
            <div class="grupo">
                <input type="text" name="nombre" id="name" value="<%= locals.old && old.nombre ? old.nombre : null %>"><span class="barra"></span>
                <label for="">Nombre</label>               
            </div>
            <div class="grupo">
                <input type="text" name="apellido" id="name" value="<%= locals.old && old.apellido ? old.apellido : null %>"><span class="barra"></span>
                <label for="">Apellido</label>
            </div>
            <div class="grupo">
                <input type="date" name="nacimiento" id="name" id="fecha" value="<%= locals.old && old.nacimiento ? old.nacimiento : null %>" ><span class="barra"></span>
                <label for="" id="fecha">Fecha de nacimiento</label>
            </div>
            <div class="grupo">
                <input type="email" name="email" id="name" value="<%= locals.old && old.email ? old.email : null %>" ><span class="barra"></span>
                <label for="">Email</label>
            </div>
            <div class="grupo">
                <input type="password" name="password" id="name" value="<%= locals.old && old.password ? old.password : null %>"><span class="barra"></span>
                <label for="">Contraseña</label>
            </div >
            
            <div class="grupo2">
                <label class="grupo1" class="select2" for="">Categoria</label>
               <select name="categoria"  id="select">
                <option value="">Elige una opción</option>
               <option value="Administrador" <%= locals.old && old.categoria === "Administrador" ? 'selected' : ' ' %> >Administrador</option>
               <option value="Usuario" <%= locals.old && old.categoria === 'Usuario' ? 'selected' : ' ' %> >Usuario</option>
                </select>
                
            </div >
        
            <div class="grupo">
                <input type="file" name="imagen" id="name" ><span class="barra"></span>
                <label for="" id="fecha">Imagen</label>
            </div >
            <div class= botones>
            <button class="button2" type="submit">Registrarse</button>
            <button class="button2" type="submit" ><a id="cancelar" href="http://localhost:3031/">Cancelar</a></button>
            </div>   
        </div>


    </form>
    <span class="footer-registro"><%-include ('../partials/footer')%></span>
</body>

</html>