<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head')%>


<body>
    <%-include ('../partials/header')%>

    <!-- listar los usuarios -->
    <div class="main-home1" style="margin-top:5rem">
    <% users.forEach(function(users){%>

        <article >
            <p id="h5">Id: <%=users.id%> </p>
            <h5 id="h5"><%=users.first_name%> <%=users.last_name%></h5>
            <h5 id="h5"><%=users.email%> </h5>
            <h5 id="h5"><%=users.category.name%></h5>
            
            <p id="h5"><img id="avatar"  src="\Images\Users\<%=users.image%>"  alt=""></p>
            

            <div  id="h5">
            <form action="/usuarios/editar/<%=users.id%>" method="GET" id="h5">
            <button  id="botones1" type="submit" >Editar</button>
            </form>
            <form action="/usuarios/eliminar/<%=users.id%>?_method=DELETE" method="POST" id="h5">
            <button  type="submit" id="botones1" >Eliminar</button>
            </form>
            </div>

        </article>
        
        <%})%>

    </div>
        <%- include ('../partials/footer')%>

